<div class="content">
    <div>
    <br>
    <br>
    <h1>Tus Solicitudes</h1>
        <div class="box-classSolid">
            <span>Escanner 3D</span><br>
            <span>Fecha : 12-04-2016 8:00 am</span><br>
            <span>Andres Barrientos</span>
        </div>
    <br>
    <h1>Aprobadas</h1>
        <div class="box-classSolid">
            <span>Impresoras 3D</span><br>
            <span>Fecha : 12-04-2016 10:00 am</span><br>
            <span>Andres Barrientos</span>
        </div>
    </div>
</div>
