    <body id= "fondo2" >
        <div id="content-register">
            <h1>Regístrate</h1>
            <input type="text" placeholder="Nombres" required> 
            <br>
            <input type="text" placeholder="Apellidos" required> 
            <br>
            <select>
                <option selected disabled>Grado</option>
            </select>
            <br>
            <select>
                <option selected disabled>Rango</option>
            </select>
            <br>
            <input type="text" placeholder="Usuario" required> 
            <br>
            <input type="password" placeholder="Contraseña" required> 
            <br>
            <input type="password" placeholder="Repita Contraseña" required>
            <br> 
            <button type="button" class="button-black">Regístrar</button>
        </div>
    </body>