/**/
#content{
	background-color: #3a4560;
	width: 100%;
	height: auto;
	position: relative;
}
#inicio-content{
	width: 85%;
	margin: 0 auto;
	padding: 20px;
}

.box-classSoli{
	width: 74%;
	height: 50px;
	background-color: #aaaeb8;
	padding: 15px;
	margin-top: 8px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
}

span{

}
.title{
	margin-top: 10px;
	line-height: 2;
	color: white;
}