<div class="background">
    <div class="background-over">
        <h1>Regístro Acceso Maquina</h1>
        <select>
            <option selected disabled>Maquina a Utilizar</option>
        </select>
        <select>
            <option selected disabled>Rol del Usuario</option>
        </select>
        <select>
            <option selected disabled>Materiales que Utilizara</option>
        </select><br><br>
        <span>Hora de Inicio</span><br>
        <input type="time" required><br><br>
        <span>Hora de Salida</span><br>
        <input type="time" required> 
        <input type="date" placeholder="Fecha" required> 
        <textarea placeholder= "Detalle de la Actividad"></textarea> 
        <div id="box-insumos"></div>
        <br> 
        <button type="button" class="button-black">Enviar</button>
    </div>
</div>
