<div id="open-menu-admin"></div>
<nav id="menu">
    <ul>
        <li><a href="" ui-sref=""><i class="fa fa-binoculars" aria-hidden="true"></i> Seguimiento solicitudes</a></li>
        <li><a href="" ui-sref=""><i class="fa fa-sticky-note" aria-hidden="true"></i> Registro máquinas</a></li>
        <li><a href="" ui-sref=""><i class="fa fa-users" aria-hidden="true"></i> Administrar usuarios</a></li>
        <li><a href="" ui-sref=""><i class="fa fa-wrench" aria-hidden="true"></i> Mantenimientos</a></li>
        <li><a href="" ui-sref=""><i class="fa fa-area-chart" aria-hidden="true"></i> Reportes</a></li>
    </ul>
</nav>
